<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cuidadosPet.css">
    <title>Guia de Cuidados com Animais de Estimação</title>
</head>

<body>
    <h1>Guia de Cuidados com Animais de Estimação</h1>
    <div class="logo">
        <img src="\images\logo.jpg" alt="AdoptMe Logo" class="logo">
    </div>
    <div class="button-group">
        <button id="Voltar" class="back-button">Voltar</button>
    </div>
    <section>
        <h2>Alimentação Adequada</h2>
        <p>Uma alimentação balanceada é essencial para a saúde do seu animal de estimação. Aqui estão algumas dicas:</p>
        <ul>
            <li>Escolha alimentos de qualidade específicos para a espécie e idade do seu animal.</li>
            <li>Ofereça uma dieta variada e equilibrada, incluindo proteínas, carboidratos, gorduras, vitaminas e minerais.</li>
            <li>Evite dar alimentos humanos que possam ser prejudiciais, como chocolate, cebola e uva.</li>
            <li>Forneça água fresca e limpa sempre disponível.</li>
        </ul>
    </section>

    <section>
        <h2>Exercícios</h2>
        <p>Manter seu animal de estimação ativo é importante para sua saúde física e mental. Aqui estão algumas sugestões:</p>
        <ul>
            <li>Passeie regularmente com seu cão, permitindo que ele se exercite e explore o ambiente.</li>
            <li>Proporcione brinquedos e jogos que estimulem o movimento e o entretenimento.</li>
            <li>Ofereça atividades de enriquecimento ambiental para gatos, como arranhadores, brinquedos interativos e espaços verticais.</li>
        </ul>
    </section>

    <section>
        <h2>Treinamento</h2>
        <p>O treinamento adequado pode melhorar a convivência entre você e seu animal de estimação. Aqui estão algumas dicas:</p>
        <ul>
            <li>Use reforço positivo, como petiscos e elogios, para incentivar comportamentos desejados.</li>
            <li>Seja consistente e paciente ao ensinar comandos básicos, como sentar, ficar e vir quando chamado.</li>
            <li>Evite punições físicas ou emocionais, pois elas podem prejudicar a relação com seu animal.</li>
        </ul>
    </section>

    <section>
        <h2>Saúde</h2>
        <p>Cuidar da saúde do seu animal de estimação é fundamental para sua qualidade de vida. Aqui estão algumas orientações:</p>
        <ul>
            <li>Agende consultas regulares com um veterinário para exames de rotina e vacinações.</li>
            <li>Mantenha em dia o controle de parasitas, como pulgas, carrapatos e vermes.</li>
            <li>Esteja atento a qualquer sinal de doença ou desconforto e procure ajuda profissional quando necessário.</li>
        </ul>
    </section>

    <section>
        <h2>Comportamento</h2>
        <p>Entender o comportamento do seu animal de estimação pode ajudar a fortalecer o vínculo entre vocês. Aqui estão algumas informações:</p>
        <ul>
            <li>Respeite o espaço e os limites do seu animal, oferecendo momentos de tranquilidade e descanso.</li>
            <li>Observe os sinais de linguagem corporal do seu animal para entender suas necessidades e emoções.</li>
            <li>Estimule atividades que promovam bem-estar e interação social.</li>
        </ul>
    </section>

    <section>
        <h2>Questões Legais</h2>
        <p>Existem leis e regulamentos que podem afetar a posse responsável de animais de estimação. Aqui estão algumas considerações:</p>
        <ul>
            <li>Verifique as leis locais sobre registro, identificação e vacinação de animais de estimação.</li>
            <li>Respeite as regras de convivência em espaços públicos e condomínios.</li>
            <li>Esteja ciente das responsabilidades legais em caso de danos causados por seu animal a pessoas ou propriedades.</li>
        </ul>
    </section>
    <script>
        document.getElementById("Voltar").addEventListener("click", function() {
            window.location.href = "/menu";
        });
    </script>
</body>

</html>