* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para o body */

body {
    background-color: #e6f2ff;
    /* Azul claro */
    font-family: Arial, sans-serif;
    /* Fonte padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Para centralizar verticalmente */
    margin: 0;
    /* Removendo margens padrão do body */
}


/* Estilos para o container do formulário */

.criarPet-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    max-width: 500px;
    /* Largura máxima do container */
    width: 100%;
    margin: 0 auto;
    /* Centraliza o container horizontalmente */
    height: 80vh;
    /* Define a altura da div como 80% da altura da viewport */
    overflow-y: auto;
    /* Adiciona uma barra de rolagem vertical quando necessário */
}


/* Estilos para labels e inputs dentro do container */

.criarPet-container label,
.criarPet-container input {
    margin-bottom: 4px;
    width: 100%;
}


/* Estilos para labels e inputs dentro do formulário */

.form-criarPet label,
.form-criarPet input {
    margin-bottom: 4px;
    width: 100%;
}


/* Estilos para a logo */

.logo {
    max-width: 250px;
    /* Tamanho máximo da logo */
    margin-bottom: 10px;
    /* Espaçamento abaixo da logo */
}


/* Estilos para o título */

h1 {
    color: #1877f2;
    margin-bottom: 20px;
}


/* Estilos para labels */

label {
    text-align: left;
    display: block;
    margin-bottom: 15px;
}


/* Estilos para labels, inputs e botões */

label,
input,
button {
    display: block;
    margin-bottom: 15px;
    /* Espaçamento entre os elementos */
    width: 100%;
    box-sizing: border-box;
    /* Para que a largura inclua padding e borda */
}


/* Estilos para inputs de texto, arquivo e select */

input[type="text"],
input[type="file"],
select {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Estilos para inputs e botões */

input,
button {
    padding: 10px;
    /* Espaçamento interno */
    border: 1px solid #ccc;
    /* Borda cinza */
    border-radius: 4px;
    /* Borda arredondada */
}


/* Estilos para botões de envio e voltar */

button[type="submit"],
#voltar {
    background-color: #1877f2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}


/* Estilos para botões de envio e voltar no hover */

button[type="submit"]:hover,
#voltar:hover {
    background-color: #146ac5;
}


/* Estilos para labels, inputs e select dentro do container */

.criarPet-container label,
.criarPet-container input,
.criarPet-container select {
    display: block;
    margin-bottom: 15px;
    width: calc(100% - 40px);
    /* Alteração aqui */
    margin-left: 20px;
    /* Adição de margem esquerda */
    margin-right: 20px;
    /* Adição de margem direita */
}


/* Estilos para inputs de texto, arquivo e select */

input[type="text"],
input[type="file"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Estilos para botões de envio e voltar */

button[type="submit"],
#voltar {
    background-color: #1877f2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 40px);
    /* Alteração aqui */
    margin-left: 20px;
    /* Adição de margem esquerda */
    margin-right: 20px;
    /* Adição de margem direita */
}