/* Estilos para o body */

body {
    background-color: #e6f2ff;
    /* Azul claro */
    font-family: Arial, sans-serif;
    /* Fonte padrão */
    display: flex;
    justify-content: center;
    /* Alinhar horizontalmente */
    align-items: center;
    /* Alinhar verticalmente */
    height: 100vh;
    /* Para centralizar verticalmente */
    margin: 0;
    /* Removendo margens padrão do body */
}


/* Estilos para o container de login */

.login-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    max-width: 400px;
    /* Largura máxima do container */
    width: 100%;
}


/* Estilos para o container de criação de usuário */

.criarUsuario-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    max-width: 400px;
    /* Largura máxima do container */
    width: 100%;
    margin: 0 auto;
    /* Centraliza o container horizontalmente */
    height: 80vh;
    /* Define a altura da div como 80% da altura da viewport */
    overflow-y: auto;
    /* Adiciona uma barra de rolagem vertical quando necessário */
}


/* Estilos para labels e inputs do formulário de criação de usuário */

.form-criarUsuario label,
.form-criarUsuario input {
    margin-bottom: 4px;
    /* Ajuste o valor conforme necessário */
}


/* Estilos para labels e inputs do formulário de login */

.login-container label,
.login-container input {
    margin-bottom: 4px;
    /* Ajuste o valor conforme necessário */
}


/* Estilos para o logo */

.logo {
    max-width: 250px;
    /* Tamanho máximo da logo */
    margin-bottom: 0;
    /* Espaçamento abaixo da logo */
}


/* Estilos para o título h1 */

h1 {
    color: #1877f2;
    /* Cor azul do Facebook */
    margin-bottom: 20px;
    /* Espaçamento abaixo do título */
}


/* Estilos para labels */

label {
    text-align: left;
    /* Alinhamento do texto à esquerda */
}


/* Estilos para labels, inputs e botões */

label,
input,
button {
    display: block;
    margin-bottom: 15px;
    /* Espaçamento entre os elementos */
    width: 100%;
    box-sizing: border-box;
    /* Para que a largura inclua padding e borda */
}


/* Estilos para inputs e botões */

input,
button {
    padding: 10px;
    /* Espaçamento interno */
    border: 1px solid #ccc;
    /* Borda cinza */
    border-radius: 4px;
    /* Borda arredondada */
}


/* Estilos para botões */

button {
    background-color: #1877f2;
    /* Cor de fundo azul do Facebook */
    color: #fff;
    /* Cor do texto */
    cursor: pointer;
    /* Cursor de mão ao passar por cima */
}


/* Estilos para botões no hover */

button:hover {
    background-color: #146ac5;
    /* Cor de fundo azul escuro ao passar por cima */
}


/* Estilos para parágrafos */

p {
    margin-top: 15px;
    /* Espaçamento acima do parágrafo */
}


/* Estilos para links */

a {
    color: #1877f2;
    /* Cor do link azul do Facebook */
    text-decoration: none;
    /* Removendo sublinhado */
}


/* Estilos para links no hover */

a:hover {
    text-decoration: underline;
    /* Adicionando sublinhado ao passar por cima */
}