/* Estilos para o modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Estilos para o conteúdo do modal */

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}


/* Estilos para o botão de fechar */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Estilos para o cabeçalho do modal */

.modal-header {
    padding: 2px 16px;
    background-color: rgb(255, 255, 153);
    color: white;
}


/* Estilos para o corpo do modal */

.modal-body {
    padding: 10px 16px;
}


/* Estilos para grupos de formulário dentro do corpo do modal */

.modal-body .form-group {
    margin-bottom: 5px;
}


/* Estilos para o rodapé do modal */

.modal-footer {
    padding: 5px 16px;
    background-color: rgb(255, 255, 153);
    color: white;
    text-align: center;
}


/* Estilos para botões dentro do rodapé do modal */

.modal-footer button {
    margin-top: 5px;
}


/* Estilos para o título h2 dentro do modal */

.modal h2 {
    color: #1877f2;
}


/* Estilos globais */


/* Removendo margens e preenchimento padrão de todos os elementos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para o título h1 */

h1 {
    color: #1877f2;
    margin-bottom: 20px;
}


/* Estilos para o body */

body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    color: #333;
    position: relative;
}


/* Estilos para o cabeçalho */

.header {
    background-color: #e6f2ff;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}


/* Estilos para o container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 153);
    margin-bottom: 20px;
}


/* Estilos para o cartão de animal */

.animal-card {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}


/* Estilos para a imagem do animal dentro do cartão */

.animal-card img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}


/* Estilos para o título h2 dentro do cartão */

.animal-card h2 {
    margin-top: 10px;
    color: #333;
}


/* Estilos para parágrafos dentro do cartão */

.animal-card p {
    margin-bottom: 10px;
}


/* Estilos para o rodapé */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Estilos para o grupo de botões */

.button-group {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}


/* Estilos para botões de saída e voltar */

.exit-button,
.back-button {
    padding: 10px 20px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


/* Estilos para botões de saída e voltar no hover */

.exit-button:hover,
.back-button:hover {
    background-color: #146ac5;
}


/* Estilos para informações do animal */

.animal-info {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}


/* Estilos para a imagem do animal */

.animal-image {
    flex-shrink: 0;
    width: 200px;
    margin-left: 20px;
}


/* Estilos para imagens dentro das informações do animal */

.animal-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* Estilos para o texto dentro das informações do animal */

.animal-info h2,
.animal-info p {
    margin-bottom: 10px;
}


/* Estilos para a borda da logo */

.logo img {
    border: 10px solid white;
    border-radius: 10px;
}


/* Estilos para a mensagem de sem pet */

.sem-pet {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Estilos para botões de adoção */

.adoption-button {
    background-color: #1877f2;
    color: white;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 80px;
    padding: 5px;
    margin-left: 10px;
}


/* Estilos para o feedback de sucesso */

.sucesso-feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1877f2;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Estilos específicos para campos de informação dentro do corpo do modal */

.modal-body .animal-info h2 {
    margin-bottom: 10px;
}

.modal-body .animal-info p {
    margin-bottom: 5px;
}